type: spec.insomnia.rest/5.0
name: Flights Service 0.1.0
meta:
  id: wrk_bb53a38ef84b49189c054b937d082f41
  created: 1746272823954
  modified: 1746272823954
collection:
  - name: flight-data
    meta:
      id: fld_55439d371a8f42f28e451fef423b9450
      created: 1746272840870
      modified: 1746272840870
      sortKey: -1746272840870
    children:
      - url: "{{ _.base_url }}/health"
        name: Health check endpoint for Kubernetes
        meta:
          id: req_24eb334d004e4154a1950c171d78b426
          created: 1746272840870
          modified: 1746272840870
          isPrivate: false
          description: Endpoint that returns the service health status.
          sortKey: -1746272840870
        method: GET
        authentication:
          type: basic
          username: "{{ _.httpUsername }}"
          password: "{{ _.httpPassword }}"
        settings:
          renderRequestBody: true
          encodeUrl: true
          followRedirects: global
          cookies:
            send: true
            store: true
          rebuildPath: true
      - url: "{{ _.base_url }}/flights"
        name: Get KongAir planned flights
        meta:
          id: req_d44a8e017229493a8bd55e4f7b7d83c2
          created: 1746272840870
          modified: 1746272840870
          isPrivate: false
          description: |
            Returns all the scheduled flights for a given day
          sortKey: -1746272840870
        method: GET
        parameters:
          - name: date
            disabled: true
            value: string
        authentication:
          type: basic
          username: "{{ _.httpUsername }}"
          password: "{{ _.httpPassword }}"
        settings:
          renderRequestBody: true
          encodeUrl: true
          followRedirects: global
          cookies:
            send: true
            store: true
          rebuildPath: true
      - url: "{{ _.base_url }}/flights/{{ _.flightNumber }}"
        name: Get a specific flight by flight number
        meta:
          id: req_01888025e86f490cb16336bd4fc5b2b7
          created: 1746272840871
          modified: 1746272840871
          isPrivate: false
          description: |
            Returns a specific flight given its flight number
          sortKey: -1746272840871
        method: GET
        authentication:
          type: basic
          username: "{{ _.httpUsername }}"
          password: "{{ _.httpPassword }}"
        settings:
          renderRequestBody: true
          encodeUrl: true
          followRedirects: global
          cookies:
            send: true
            store: true
          rebuildPath: true
      - url: "{{ _.base_url }}/flights/{{ _.flightNumber }}/details"
        name: Fetch more details about a flight
        meta:
          id: req_90bb5b039ac746cfacdcdc8cf685c7d7
          created: 1746272840871
          modified: 1746272840871
          isPrivate: false
          description: Fetch more details about a flight
          sortKey: -1746272840871
        method: GET
        authentication:
          type: basic
          username: "{{ _.httpUsername }}"
          password: "{{ _.httpPassword }}"
        settings:
          renderRequestBody: true
          encodeUrl: true
          followRedirects: global
          cookies:
            send: true
            store: true
          rebuildPath: true
cookieJar:
  name: Default Jar
  meta:
    id: jar_fdda9b3917044bd4429e484b897c881666a30c41
    created: 1746272823958
    modified: 1746272823958
environments:
  name: Base Environment
  meta:
    id: env_fdda9b3917044bd4429e484b897c881666a30c41
    created: 1746272823957
    modified: 1746272840869
    isPrivate: false
  data:
    base_url: "{{ _.scheme }}://{{ _.host }}{{ _.base_path }}"
  subEnvironments:
    - name: OpenAPI env api.kong-air.com
      meta:
        id: env_155ad37a8c8d401583de9d2b1affb95e
        created: 1746272840869
        modified: 1746272840869
        isPrivate: false
        sortKey: 1746272840869
      data:
        scheme: https
        host: api.kong-air.com
        httpUsername: username
        httpPassword: password
    - name: local
      meta:
        id: env_5a0b050c97364f03881766595d0379f7
        created: 1746272851233
        modified: 1746273288782
        isPrivate: false
        sortKey: 1746272851233
      data:
        scheme: http
        base_path: /
        host: localhost:8081
        httpUsername: username
        httpPassword: password
        flightNumber: KD924
spec:
  contents:
    openapi: 3.1.0
    info:
      description: KongAir Flights service provides the scheduled flights for KongAir
      version: 0.1.0
      contact:
        email: kongair-team@kongair.com
      title: Flights Service
    servers:
      - url: https://api.kong-air.com
        description: KongAir API Server
    components:
      securitySchemes:
        BasicAuth:
          type: http
          scheme: basic
      schemas:
        Flight:
          type: object
          properties:
            number:
              type: string
            route_id:
              type: string
            scheduled_departure:
              type: string
              format: date-time
            scheduled_arrival:
              type: string
              format: date-time
          required:
            - number
            - route_id
            - scheduled_departure
            - scheduled_arrival
        FlightDetails:
          type: object
          properties:
            flight_number:
              type: string
            in_flight_entertainment:
              type: boolean
            meal_options:
              type: array
              items:
                type: string
            aircraft_type:
              type: string
          required:
            - flight_number
            - in_flight_entertainment
            - meal_options
            - aircraft_type
    tags:
      - name: flight-data
    paths:
      /health:
        get:
          tags:
            - flight-data
          operationId: health
          summary: Health check endpoint for Kubernetes
          description: Endpoint that returns the service health status.
          responses:
            "200":
              description: Service is healthy
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      status:
                        type: string
                        example: OK
              headers:
                hostname:
                  description: The hostname of the machine fulfilling the request.
                  schema:
                    type: string
            "401":
              description: Unauthorized
            "500":
              description: Service is unhealthy
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      status:
                        type: string
                        example: unhealthy
      /flights:
        get:
          summary: Get KongAir planned flights
          description: |
            Returns all the scheduled flights for a given day
          tags:
            - flight-data
          operationId: get-flights
          parameters:
            - name: date
              in: query
              description: Filter by date (defaults to current day)
              required: false
              style: form
              schema:
                type: string
                format: date
          responses:
            "200":
              description: Successful response with scheduled flights
              headers:
                hostname:
                  description: The hostname of the machine fulfilling the request.
                  schema:
                    type: string
              content:
                application/json:
                  schema:
                    type: array
                    items:
                      $ref: "#/components/schemas/Flight"
                  examples:
                    Example Flights List:
                      value:
                        - number: KD924
                          route_id: LHR-SFO
                          scheduled_departure: 2024-03-20T09:12:28Z
                          scheduled_arrival: 2024-03-20T19:12:28Z
                        - number: KD925
                          route_id: SFO-LHR
                          scheduled_departure: 2024-03-21T09:12:28Z
                          scheduled_arrival: 2024-03-21T19:12:28Z
            "401":
              description: Unauthorized
      "/flights/{flightNumber}":
        get:
          summary: Get a specific flight by flight number
          description: |
            Returns a specific flight given its flight number
          tags:
            - flight-data
          operationId: get-flight-by-number
          parameters:
            - name: flightNumber
              in: path
              description: The flight number (only alphanumeric characters allowed)
              required: true
              style: simple
              schema:
                type: string
                pattern: ^[a-zA-Z0-9]+$
                example: KA0284
          responses:
            "200":
              description: Successful response with the requested flight
              headers:
                hostname:
                  description: The hostname of the machine fulfilling the request.
                  schema:
                    type: string
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/Flight"
                  examples:
                    Example Flight KD924:
                      value:
                        number: KD924
                        route_id: LHR-SFO
                        scheduled_departure: 2024-03-20T09:12:28Z
                        scheduled_arrival: 2024-03-20T19:12:28Z
            "401":
              description: Unauthorized
            "404":
              description: Flight not found
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      message:
                        type: string
      "/flights/{flightNumber}/details":
        get:
          summary: Fetch more details about a flight
          description: Fetch more details about a flight
          tags:
            - flight-data
          operationId: get-flight-details
          parameters:
            - name: flightNumber
              in: path
              description: The flight number
              required: true
              style: simple
              schema:
                type: string
                pattern: ^[a-zA-Z0-9]+$
                example: KA0293
          responses:
            "200":
              description: Successful response with the requested flight details
              headers:
                hostname:
                  description: The hostname of the machine fulfilling the request.
                  schema:
                    type: string
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/FlightDetails"
            "400":
              description: Invalid flight number
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Invalid format for parameter
                text/plain:
                  schema:
                    type: string
            "401":
              description: Unauthorized
            "404":
              description: Flight not found
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      message:
                        type: string
  meta:
    id: spc_9963ae7cf2c34679a5489aa47443e867
    created: 1746272823957
    modified: 1746272831439
testSuites:
  - name: Tests
    meta:
      id: uts_e1d7dbe5e1e04ba7a36e8b4f28144b14
      created: 1746272925964
      modified: 1746272931267
      sortKey: -1746272925964
    tests:
      - name: Returns 200
        meta:
          id: ut_9e90201bf77044258322990d242d58f4
          created: 1746272931335
          modified: 1746272938746
          sortKey: -1746272931335
        requestId: req_d44a8e017229493a8bd55e4f7b7d83c2
        code: |-
          const response1 = await insomnia.send();
          expect(response1.status).to.equal(200);
      - name: Returns 200
        meta:
          id: ut_0005582e9adb45cc9334edce5738a685
          created: 1746272935948
          modified: 1746272935948
          sortKey: -1746272935948
        code: |-
          const response1 = await insomnia.send();
          expect(response1.status).to.equal(200);
