type: spec.insomnia.rest/5.0
name: Routes Service 1.0.1
meta:
  id: wrk_63812b4e440b42969564d791943c528b
  created: 1746277120166
  modified: 1746277120166
collection:
  - name: flight-data
    meta:
      id: fld_981db9c67e8440e08dfa482decf4c299
      created: 1746277185838
      modified: 1746277185838
      sortKey: -1746277185838
    children:
      - url: "{{ _.base_url }}/health"
        name: Health check endpoint for Kubernetes
        meta:
          id: req_4708332f465d4a30a3eedc0c39dee7b5
          created: 1746277185839
          modified: 1746277185839
          isPrivate: false
          description: Endpoint that returns the service health status.
          sortKey: -1746277185839
        method: GET
        authentication:
          type: basic
          username: "{{ _.httpUsername }}"
          password: "{{ _.httpPassword }}"
        settings:
          renderRequestBody: true
          encodeUrl: true
          followRedirects: global
          cookies:
            send: true
            store: true
          rebuildPath: true
      - url: "{{ _.base_url }}/routes/{{ _.id }}"
        name: Request a specific KongAir route by id (LHR-SIN)
        meta:
          id: req_e71d62d01c834b3ca131c0682114fe99
          created: 1746277185839
          modified: 1746277185839
          isPrivate: false
          description: |
            Returns a specific route from a given Route ID
          sortKey: -1746277185839
        method: GET
        authentication:
          type: basic
          username: "{{ _.httpUsername }}"
          password: "{{ _.httpPassword }}"
        settings:
          renderRequestBody: true
          encodeUrl: true
          followRedirects: global
          cookies:
            send: true
            store: true
          rebuildPath: true
      - url: "{{ _.base_url }}/routes"
        name: Request all the KongAir routes
        meta:
          id: req_5214607b2d4946f3ba7f083c4a555430
          created: 1746277185840
          modified: 1746277185840
          isPrivate: false
          description: |
            Returns all the routes KongAir is currently registered to fly.
            A Route is a pairing between origin and destination airport codes.
          sortKey: -1746277185840
        method: GET
        parameters:
          - name: origin
            disabled: true
            value: string
        authentication:
          type: basic
          username: "{{ _.httpUsername }}"
          password: "{{ _.httpPassword }}"
        settings:
          renderRequestBody: true
          encodeUrl: true
          followRedirects: global
          cookies:
            send: true
            store: true
          rebuildPath: true
cookieJar:
  name: Default Jar
  meta:
    id: jar_1eb102498290b5f84270be0b39bf7eecf2331904
    created: 1746277120170
    modified: 1746277120170
environments:
  name: Base Environment
  meta:
    id: env_1eb102498290b5f84270be0b39bf7eecf2331904
    created: 1746277120170
    modified: 1746277185837
    isPrivate: false
  data:
    base_url: "{{ _.scheme }}://{{ _.host }}{{ _.base_path }}"
  subEnvironments:
    - name: OpenAPI env api.kong-air.com
      meta:
        id: env_c8f7205da11a46d9b6401ebd1761d92f
        created: 1746277185838
        modified: 1746277212308
        isPrivate: false
        sortKey: 1746277185838
      data:
        scheme: https
        host: api.kong-air.com
        httpUsername: username
        httpPassword: password
    - name: local
      meta:
        id: env_43594b9c7b59419590b08c6e50816832
        created: 1746277218655
        modified: 1746277259678
        isPrivate: false
        sortKey: 1746277218656
      data:
        scheme: https
        host: localhost:8082
        httpUsername: username
        httpPassword: password
        id: LHR-SFO
spec:
  contents:
    openapi: 3.1.0
    info:
      description: KongAir Routes service provides the registered routes KongAir flies
        between origin and destination airports
      version: 0.1.0
      title: Routes Service
      contact:
        email: flight-data@kongair.com
    servers:
      - url: https://api.kong-air.com
        description: KongAir API Server
    tags:
      - name: flight-data
    paths:
      /health:
        get:
          tags:
            - flight-data
          operationId: health
          summary: Health check endpoint for Kubernetes
          description: Endpoint that returns the service health status.
          responses:
            "200":
              description: Service is healthy
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      status:
                        type: string
                        example: OK
            "500":
              description: Service is unhealthy
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      status:
                        type: string
                        example: unhealthy
      /routes/{id}:
        get:
          summary: Request a specific KongAir route by id (LHR-SIN)
          description: |
            Returns a specific route from a given Route ID
          tags:
            - flight-data
          operationId: get-route
          parameters:
            - name: id
              in: path
              description: String route ID
              required: true
              schema:
                type: string
                example: LHR-SYD
          responses:
            "200":
              description: Successful response with the found Route
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/Route"
            "400":
              description: Invalid route id
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Invalid format for parameter
                text/plain:
                  schema:
                    type: string
            "404":
              description: Route not found
      /routes:
        get:
          summary: Request all the KongAir routes
          description: |
            Returns all the routes KongAir is currently registered to fly.
            A Route is a pairing between origin and destination airport codes.
          tags:
            - flight-data
          operationId: get-routes
          parameters:
            - name: origin
              in: query
              description: filter by origin
              required: false
              style: form
              schema:
                type: array
                items:
                  type: string
          responses:
            "200":
              description: Successful response with the registered Routes
              content:
                application/json:
                  schema:
                    type: array
                    items:
                      $ref: "#/components/schemas/Route"
                  examples:
                    lhr-sfo:
                      value:
                        - id: LHR-SFO
                          origin: LHR
                          destination: SFO
                          avg_duration: 660
    components:
      securitySchemes:
        BasicAuth:
          type: http
          scheme: basic
      schemas:
        Route:
          type: object
          properties:
            id:
              type: string
            origin:
              type: string
            destination:
              type: string
            avg_duration:
              type: integer
          required:
            - id
            - origin
            - destination
            - avg_duration
  meta:
    id: spc_d529b34fb82342fbab4677cbcdda3c8e
    created: 1746277120169
    modified: 1746277154723
