type: spec.insomnia.rest/5.0
schema_version: "5.1"
name: Flight Data v1.0.0
meta:
  id: wrk_e6f78bfe37c8426e901535c1e8e4225e
  created: 1765363699789
  modified: 1765363736527
  description: ""
cookieJar:
  name: Default Jar
  meta:
    id: jar_cd43a44cddc459c4f68ba0a268af84e839bb6836
    created: 1765363699792
    modified: 1765363699792
environments:
  name: Base Environment
  meta:
    id: env_cd43a44cddc459c4f68ba0a268af84e839bb6836
    created: 1765363699791
    modified: 1765363699791
    isPrivate: false
spec:
  contents:
    openapi: 3.1.0
    info:
      description: KongAir Flights service provides the scheduled flights for KongAir
      version: 0.1.0
      title: Flights Service
      contact:
        email: flights@kongair.com
    servers:
      - url: https://api.kong-air.com
        description: KongAir API Server
    components:
      securitySchemes:
        BasicAuth:
          type: http
          scheme: basic
        ApiKeyAuth:
          type: apiKey
          in: header
          name: apikey
      schemas:
        Flight:
          type: object
          properties:
            number:
              type: string
            route_id:
              type: string
            scheduled_departure:
              type: string
              format: date-time
            scheduled_arrival:
              type: string
              format: date-time
          required:
            - number
            - route_id
            - scheduled_departure
            - scheduled_arrival
        FlightDetails:
          type: object
          properties:
            flight_number:
              type: string
            in_flight_entertainment:
              type: boolean
            meal_options:
              type: array
              items:
                type: string
            aircraft_type:
              type: string
          required:
            - flight_number
            - in_flight_entertainment
            - meal_options
            - aircraft_type
    tags:
      - name: Health
        description: whatever
      - name: flight-data
        description: Information about available products.
    paths:
      /health:
        get:
          tags:
            - Health
          operationId: health
          summary: Health check endpoint for Kubernetes
          description: Endpoint that returns the service health status.
          responses:
            "200":
              description: Service is healthy
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      status:
                        type: string
                        example: OK
              headers:
                hostname:
                  description: The hostname of the machine fulfilling the request.
                  schema:
                    type: string
            "401":
              description: Unauthorized
            "500":
              description: Service is unhealthy
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      status:
                        type: string
                        example: unhealthy
      /flights:
        get:
          summary: Get KongAir planned flights
          description: |
            Returns all the scheduled flights for a given day
          tags:
            - flight-data
          operationId: get-flights
          parameters:
            - name: date
              in: query
              description: Filter by date (defaults to current day)
              required: false
              style: form
              schema:
                type: string
                format: date
          responses:
            "200":
              description: Successful response with scheduled flights
              headers:
                hostname:
                  description: The hostname of the machine fulfilling the request.
                  schema:
                    type: string
              content:
                application/json:
                  schema:
                    type: array
                    items:
                      $ref: "#/components/schemas/Flight"
                  examples:
                    Example Flights List:
                      value:
                        - number: KD924
                          route_id: LHR-SFO
                          scheduled_departure: 2024-03-20T09:12:28Z
                          scheduled_arrival: 2024-03-20T19:12:28Z
                        - number: KD925
                          route_id: SFO-LHR
                          scheduled_departure: 2024-03-21T09:12:28Z
                          scheduled_arrival: 2024-03-21T19:12:28Z
            "401":
              description: Unauthorized
      /flights/{flightNumber}:
        get:
          summary: Get a specific flight by flight number
          description: |
            Returns a specific flight given its flight number
          tags:
            - flight-data
          operationId: get-flight-by-number
          parameters:
            - name: flightNumber
              in: path
              description: The flight number (only alphanumeric characters allowed)
              required: true
              style: simple
              schema:
                type: string
                pattern: ^[a-zA-Z0-9]+$
                example: KA0284
          responses:
            "200":
              description: Successful response with the requested flight
              headers:
                hostname:
                  description: The hostname of the machine fulfilling the request.
                  schema:
                    type: string
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/Flight"
                  examples:
                    Example Flight KD924:
                      value:
                        number: KD924
                        route_id: LHR-SFO
                        scheduled_departure: 2024-03-20T09:12:28Z
                        scheduled_arrival: 2024-03-20T19:12:28Z
            "401":
              description: Unauthorized
            "404":
              description: Flight not found
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      message:
                        type: string
      /flights/{flightNumber}/details:
        get:
          summary: Fetch more details about a flight
          description: Fetch more details about a flight
          tags:
            - flight-data
          operationId: get-flight-details
          parameters:
            - name: flightNumber
              in: path
              description: The flight number
              required: true
              style: simple
              schema:
                type: string
                pattern: ^[a-zA-Z0-9]+$
                example: KA0293
          responses:
            "200":
              description: Successful response with the requested flight details
              headers:
                hostname:
                  description: The hostname of the machine fulfilling the request.
                  schema:
                    type: string
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/FlightDetails"
            "400":
              description: Invalid flight number
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Invalid format for parameter
                text/plain:
                  schema:
                    type: string
            "401":
              description: Unauthorized
            "404":
              description: Flight not found
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      message:
                        type: string
  meta:
    id: spc_e9d2ff94c3bb4972a9aae0142b4062ed
    created: 1765363699791
    modified: 1765363736526
